<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <title>Formulário de Currículo</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Enviar Currículo</h1>
        <form action="/formulario" method="post" enctype="multipart/form-data" th:object="${curriculoFormDto}">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" th:field="*{nome}" />
                <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" th:field="*{email}" />
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" th:field="*{telefone}" />
                <div th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="cargoDesejado" class="form-label">Cargo Desejado</label>
                <input type="text" class="form-control" id="cargoDesejado" name="cargoDesejado" th:field="*{cargoDesejado}" />
                <div th:if="${#fields.hasErrors('cargoDesejado')}" th:errors="*{cargoDesejado}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="escolaridade" class="form-label">Escolaridade</label>
                <select id="escolaridade" th:field="*{escolaridade}" class="form-select">
                  <option th:each="escolaridade : ${T(br.com.formulario.enumtipo.Escolaridade).values()}"
                    th:value="${escolaridade}" th:text="${escolaridade}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="observacoes" class="form-label">Observações</label>
                <textarea class="form-control" id="observacoes" name="observacoes" th:field="*{observacoes}"></textarea>
                <div th:if="${#fields.hasErrors('observacoes')}" th:errors="*{observacoes}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="arquivo" class="form-label">Arquivo</label>
                <input type="file" class="form-control" id="arquivo" name="file" />
                <div id="error-arquivo" class="text-danger"></div>
                <div th:if="${#fields.hasErrors('arquivo')}" th:errors="*{arquivo}" class="text-danger"></div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    <script>
      document.getElementById('formulario').addEventListener('submit', function(event) {
          var fileInput = document.getElementById('arquivo');
          if (fileInput.files.length > 0) {
              var fileSize = fileInput.files[0].size; // tamanho em bytes
              var maxSize = 1048576; // 1MB em bytes
              if (fileSize > maxSize) {
                  event.preventDefault(); // impedir o envio do formulário
                  document.getElementById('error-arquivo').innerText = 'O tamanho máximo do arquivo é 1MB.';
              } else {
                  document.getElementById('error-arquivo').innerText = '';
              }
          }
      });
  </script>
</body>
</html>
